main {
  max-width: 1024px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

header {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid black;
}

header h1 {
  margin: 0 0.5em;
}

header address::before {
  content: 'by ';
  margin-left: 1em;
}

header a {
  display: block;
  width: 2.5em;
  height: 2.5em;
  padding: 0.5em;
  border-right: 1px solid black;
  margin: 0;
}

main > section {
  overflow: scroll;
  border-bottom: 1px solid black;
}

#ts-list {
  margin: 0;
}

#ts-list li {
  display: flex;
}

#ts-list li {
  border-bottom: 1px solid black;
}

#ts-list li:last-child {
  border-bottom: none;
}

.ts-click {
  flex: auto;

  margin: 0;
  padding: 1em;

  text-align: left;
}

#player {
  width: 100%;
}